// bower:scss
// endbower
@import 'reset';
@import 'fonts/font-awesome';
@import 'mixin';
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import 'typography';
@import 'bits';

* {
  box-sizing: border-box;
}
img {
  width: 100%;
}
a {
  color: #333;

  &:hover {
    color: #000;
    text-decoration: underline;
  }
}
body {
  background: #fafafa;
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
  font-weight: 400;  
  color: #333;
  margin: 0;
  padding: 0;
}

strong {
  font-weight: 700;
}
.container {
  @include rem('max-width',960px);
  @include rem('padding',20px);
  background: #ccc;
  margin: 0 auto;
  border-top: $main 5px solid;
  border-width: 80%;
}
.header {
  @include rem('margin-bottom',25px);
  
  &__logo a {
    font-size: 0;
    display: block;
    margin-top:15px;
    text-align: center;
    
    img {
      @include rem('width',176px);
      @include rem('height',26px);
    }
    
    @include desktop {
      text-align: left;
      display: inline-block;
    }
  }

  &__nav {
    margin-top: 20px;
    text-align: center;
    
    &-item {
      position: relative;
      a {
        text-decoration: none;
        display:block;
        font-weight: 300;
        padding: 10px 0;
        margin-top: -1px;
        border: 1px solid #eee;
        text-align: center;

        &:before {
          display: none;
        }
      }
    }

    @include desktop {
      text-align: right;
      
      &-item a {
        text-align: left;
        border: none;
        margin-top: 0;
        padding: 0;

        &:before {
          display: block;
          content: "";
          position: absolute;
          top: 0;
          left: 10px;
          width: 90%;
          background-color: #333;
          height: 1px;
        }

        &:hover {
          color: black;
          transition: color 0.5s;

          &:before {
            background-color: $main;
            transition: background-color 0.5s;
          }
        }        
      }
    }
  }

  &__title {
    @include title;
  }

  &__coloured {
    color: $main;
  }

  &__intro {
    @include intro;
  }
}

.divider {
  background: url('https://api.fnkr.net/testimg/1440x140/000/FFF/?text=HasanKhan') no-repeat top left #000;
  @include rem('height',140px);
  display: block;
  @include rem('margin-bottom',20px);
}
