/*********************
Colours
*********************/

$color-primary: #d72219;
$color-border-light: #d2d1d1;
$color-background: #fff;
$color-text-default: #333;
$color-text-light: #777;
$color-lightest: #fff;
$color-darkest: #000;
$color-link: #666;


/*********************
Spacing
*********************/

$mediumGutter: 20px;
$smallGutter: $mediumGutter - 7px;
$largeGutter: 40px;
$hugeGutter: 80px;